{{> navbar}}

  <div id="dashboardContainer" class="container-fluid">
    {{> dashboard}}
  </div>

{{> footer}}
<script src="assets/js/..." charset="utf-8"></script>
<script src="assets/js/..." charset="utf-8"></script>