<div class="container">

  <h2 class="textStyle">Add a new genre!</h2>

  <hr class="hr"/>

  <div id="favorites" class="row">
    
  </div>

  <hr class="hr"/>

  <div class="row">

    <div id="recipeForm"class="col-md-6">
      <form method="post">
        <h2 class="textStyle">New Genre</h2>
        <div class="form-group">
          <label for="title">Genre</label>
          <input type="text" class="form-control" id="name" placeholder="Genre Name">
        </div>
        <div class="form-group">
          <label for="ingridents">Artist/Band</label>
          <input class="form-control textarea" id="artist" type="textarea" />
        </div>
        <div class="form-group">
          <label for="ingridents">Record/Album</label>
          <input class="form-control textarea" id="album" type="textarea" />
        </div>
        <div class="form-group">
          <label for="ingridents">Release Year/Date</label>
          <input class="form-control textarea" id="date" type="textarea" />
        </div>
        <div class="form-group">
          <label for="ingridents">Similar Artist/Band</label>
          <input class="form-control textarea" id="similar artist" type="textarea" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btnForm"type="submit">SUBMIT</button>
        </div>
      </form>
    </div>


  </div>

</div>