<div class="jumbotron hero">
    <div class="container">

        <div class="row">
            <div id="heroText"class="col-md-2 col-md-offset-3 get-it animated slideInRight">
                <h1>Music sounds better with you!</h1>

            </div>
        </div>
    </div>
</div>

    <div class="features-clean ">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" id="howitworks">How It Works</h2>
            </div>
            <div class="row features">
               {{!-- <div class="col-md-4 col-sm-6 item">
                    <i class="glyphicon glyphicon-user ontop"></i>
                    <h3 class="name">Sign-Up</h3>
                    <p class="description">Create a user account</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-ok ontop"></i>
                    <h3 class="name">Add Music Genres</h3>
                    <p class="description">Input all the genres you would like to explore</p>
                </div> --}}
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-search ontop"></i>
                    <h3 class="name">Search For Bands/Artists</h3>
                    <p class="description">Select any band/artist name or the genre that interests you the most!</p>
                </div>

            </div>
        </div>
    </div>

    <div id="howItWorks"class="features-clean animated slideInRight">
        <div class="col-md-6"></div>
        <div class="col-md-6 textBox">
            <ul>
                <li>An easy way to explore new genres!</li>
                <li>Get to know more the artists/bands you thought you'd never jam to!</li>
                <li>Your friends would want to always hand you the aux cord ;)</li>
            </ul>
        </div>

    </div>