<div>
    <nav class="navbar navbar-default navigation-clean headerContainer">
        <div class="container ">
            <div class="navbar-header"><a id="logo" class="navbar-brand navbar-link" href="/">GenreHound</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                 {{!-- {{#if isAuthenticated}}
                    <script src="..." charset="utf-8"></script>
                    <li role="presentation"><a href="/...">Search</a></li>
                    <li role="presentation"><a href="/...">Favorites</a></li>
                    <li role="presentation"><a href="/...">Dashboard</a></li>
                    <li role="presentation"><a href="/...">Logout</a></li>
                  {{/if}} --}}
                    {{!-  {{#unless isAuthenticated}}
                    <script src="assets/js/request.js" charset="utf-8"></script>
                    <li role="presentation"><a href="/genreSearch">EXPLORE NEW GENRES</a></li>
                    <li role="presentation"><a href="/#howitworks">HOW IT WORKS</a></li>
                   {{!--  <li role="presentation"><a href="/login">LOGIN </a></li>
                    <li role="presentation"><a id="signupBtn" href="/register">SIGN UP</a></li> --}}
                    {{!-  {{/unless}}
                </ul>
            </div>
        </div>
    </nav>
</div>
<br><br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="navbar ">
        <form class="search-form text-center">
          {{!-- <div class="inner-addon right-addon"> --}}
          <div id="search-form-div">
              <input id="searchGenre" type="text" class="form-control" />
              <a id="searchGenreButton" name="button"><i id="searchIcon"class="glyphicon glyphicon-search pull-right"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>